# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
.env/
.envrc
.venv/

# VS Code settings
.vscode/

# PyCharm
.idea/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and test output
*.log
.coverage
coverage.xml
htmlcov/

# Pytest cache
.pytest_cache/

# mypy
.mypy_cache/

# Jupyter
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db
